body {
  background-color: #FFE6E6;
  font-family: Arial, sans-serif;
}

.container {
  text-align: center;
  margin-top: 50px;
}

h1 {
  color: #FF69B4;
  font-size: 36px;
  margin-bottom: 20px;
}

.link-boxes {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.link-box {
  display: inline-block;
  padding: 10px 20px;
  background-color: #FF69B4;
  color: #FFFFFF;
  text-decoration: none;
  margin: 0 10px;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.link-box:hover {
  background-color: #FF1493;
}

#video {
  display: none;
}

#canvas {
  display: none;
} 